.contact{
    display: flex;
    flex-direction: column;
    padding: 1.2em 1.2em 1.2em;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: inherit;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  right -10em top;
}
.wrapper{
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;    
}
textarea{
    height: 11em;
    resize: none;
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;    
}

.background{
    transform: translateY(-40em) translateZ(-60px) scale(7); 
    border-radius: 100%;
}
#contact-left,#contact-right{
    width: 100%;
}
#contact-left{
    z-index: -1;
}
#contact-right{
    background: rgba(255, 255, 255, 0.941);
    padding: 2em 1.5em;
    border-radius: 10px;
    box-shadow: 0.5px 5px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(7em);
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}
.form-element{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2em;
}
.form-label{

}
.form-input{
    padding: 0.7em;
    outline: none;
    font-size: 1em;
    font-family: inherit;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.501) 
}

.form-input:focus{
    outline: 1px solid rgb(34, 137, 248);
    background: transparent;
}

.form-btn{
    background: linear-gradient(132deg, rgb(176, 34, 165) 0%, rgb(130, 24, 136) 34%, rgb(26, 159, 186) 100%);
    outline: none;
    border: none;
    font-family: inherit;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
}
 
@media only screen and (min-width: 820px) {
    .contact{
        padding: 2.8em 11em;
        flex-direction: row;
        background-position: bottom;
    }
    #contact-left{
        position: relative;
    }
    .wrapper{
        height: auto;
    }
    #contact-right{
        transform: translateY(0);
    }
    .wrapper{
        height: auto;
        perspective: none;    
    }
    header{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transform-style: flat;
        z-index: 1;
    }
    .background{
        width: 100%;
        transform: translateY(0em) translateZ(0px) scale(1); 
    }
}