.login{
    display: flex;
    flex-direction: column;
    padding: 1.2em 1.2em 1.2em;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
    height: 100vh;
    font-family: inherit;
    margin: auto;
}
#brand-label{
    color: #3a60f0;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-btn{
    display: flex;
    position: relative;
    top: 2em;
    left: 4em;
    width: min-content;
    cursor: pointer;
}
#login-left,#login-right{
    width: 100%;
}
#login-left{
    z-index: -1;
}
#login-right{
    background: rgba(255, 255, 255, 0.941);
    padding: 2em 1.5em;
    border-radius: 10px;
    box-shadow: 0.5px 5px 10px rgba(0, 0, 0, 0.15);
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}
.form-element{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2em;
}
.form-input{
    padding: 0.7em;
    outline: none;
    font-size: 1em;
    font-family: inherit;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.501) 
}

.form-input:focus{
    outline: 1px solid rgb(34, 137, 248);
    background: transparent;
}

.form-btn{
    background: linear-gradient(132deg, rgb(176, 34, 165) 0%, rgb(130, 24, 136) 34%, rgb(26, 159, 186) 100%);
    outline: none;
    border: none;
    font-family: inherit;
    color: white;
    cursor: pointer;
    padding: 1em;
    letter-spacing: 2px;
}
 
@media only screen and (min-width: 820px) {
    .login{
        padding: 2.8em 11em;
        /* flex-direction: row; */
        background-position: bottom;
        width: 50%;
    }
    #login-left{
        position: relative;
    }
}