@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;600;700&display=swap');

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.app-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    color: whitesmoke;
    height: 100%;
}
html{
    height: auto;
    overflow: scroll;
    background-image: url('./images/pexels-pixabay-417122.jpg');
background-size: cover;
background-repeat: no-repeat;
}
.savedlocations-list::-webkit-scrollbar{
    display: none;
}
.savedlocations-list{
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}
.hideOnPhone{
    width: 100%;
    margin-top: 0.5em;
    display: none;
    flex-direction: column;
    gap:0.5em;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    html{
        overflow: hidden;
    }
    .hideOnPhone{
        display: flex;
    }
    .savedlocations-list{
        align-items: center;
        justify-content: flex-start;
    }
    .app-container{
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        flex-direction: column;
    }
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.padding{
    padding: 0.5em 1em;
}

@media only screen and (min-width: 768px) {
    .app-container{
        flex-direction: row;
        justify-content: space-between;
    }
}